<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<h:title><ui:define name="title">Main</ui:define></h:title>
	<link href="" />
</h:head>
<ui:composition template="/resources/template.xhtml">

	<ui:define name="main">

		<h2>Iron Man 2</h2>
		<p>
			<img src="./resources/img/ironman2.jpg" width="250" height="116"
				alt="Iron Man 2" />
		</p>
		<p>
			<em>Iron Man 2</em> Im zweiten Teil muss Robert Downey Jr. gegen
			einen herrlich fiesen Mickey Rourke kämpfen.
		</p>
		<p class="goto">
			<a href="#">Iron Man 2 - Im Saal 1 </a>
		</p>
		<h2>David Wants to fly</h2>
		<p>
			<img src="./resources/img/fly.jpg" width="265" height="167"
				alt="Fotos von Shirts" />
		</p>
		<p>
			<em>David Wants to flys&uuml;&szlig;en Hemdchen?</em> David Sieveking
			wandelt auf den Spuren der der Tranzendentalen Meditation.
		</p>
		<p class="goto">
			<a href="#">David Wants to fly - Im Saal 2</a>
		</p>

	</ui:define>



</ui:composition>
</html>