@CHARSET "ISO-8859-1";


body {
	background: url("../img/bg.jpg") no-repeat scroll -345px -400px black;

}

div#pagewrapper {
	background-color: white;
	width: 800px;
	margin: 0 auto;
	min-height: 800px;
    opacity: 0.9;
    border-radius: 10px 10px 10px 10px;
}

div#headwrapper {
	
	background: url("../img/head.png") top center no-repeat;
}

div#header {
	
	width:800px;
	margin: 0 auto;
	height: 200px;
	margin-bottom: 20px;
}


div#content {
	
	width: 800px;
	float: left;
}

div#main {
		
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 15px 10px;
    min-height: 620px;
    width: 480px;
        background-color:  silver ;
}

div#sidebar {
float: left;
    margin: 15px 10px;
    min-height: 620px;
    width: 276px;


}

div#login {
   border-radius: 10px 10px 10px 10px;	
	height: 300px;
	    width: 276px;
	float: left;
	    background-color:  silver ;
}

div#werbung {
	margin-top: 20px;
	height: 300px;
	float: left;
	border-radius: 10px 10px 10px 10px;
	background-color:  silver ;
	    width: 276px;
}

div#footer {
	margin: 10px 10px;
	height: 130px;
	float: left;
	border-radius: 10px 10px 10px 10px;
	background-color:  silver ;
	    width: 780px;
}

div.clear {
	
	clear: both;
}
