<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<link href="./resources/css/default.css" rel="stylesheet"
		type="text/css" />
	<h:title><ui:insert name="title">Default title</ui:insert></h:title>
	<link href="" />
</h:head>

<body>

	<div id="headwrapper">
		<div id="header"></div>
	</div>

	<div id="pagewrapper">

		<div id="content">
			<div id="main">
				<ui:insert name="main">
				</ui:insert>
			</div>

			<div id="sidebar">
				<div id="login">
					<ui:insert name="login">
						<h1 id="h1">Login</h1>
						<form name="loginForm2" method="post">
							<p>
								<input name="username" type="text" /> <input name="password"
									type="password" /> <input name="submit" type="submit"
									value="Login" />
							</p>
						</form>
					</ui:insert>
				</div>

				<div id="werbung">
					<ui:insert name="werbung">

						<img src="./resources/img/kinokarte.gif" width="276" height="300"
							alt="JenWARE-Logo" />


					</ui:insert>
				</div>
			</div>
		</div>

		<div id="footer">
			<ui:insert name="footer">
				<p id="copyright">Alle Rechte vorbehalten &copy; Kino Musterdorf</p>
			</ui:insert>
		</div>
	</div>
</body>

</html>
